*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

.chat-online {
    color: #34ce57
}

.chat-offline {
    color: #e4606d
}

.chat-messages {
    display: flex;
    flex-direction: column;
    max-height: 800px;
    overflow-y: scroll
}

.chat-message-left,
.chat-message-right {
    display: flex;
    flex-shrink: 0
}

.chat-message-left {
    margin-right: auto
}

.chat-message-right {
    flex-direction: row-reverse;
    margin-left: auto
}
.py-3 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}
.px-4 {
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
}
.flex-grow-0 {
    flex-grow: 0!important;
}
.border-top {
    border-top: 1px solid #dee2e6!important;
}

:root {
    --yellow: #f5c32c;
    --orange: #fca61f;
    --black: #242d49;
    --gray: rgba(36, 45, 73, 0.65);
    --profileShadow: 0px 4px 17px 2px rgba(0, 0, 0, 0.25);
    --hrColor: #cfcdcd;
    --cardColor: rgba(255, 255, 255, 0.64);
    --buttonBg: linear-gradient(98.63deg, #6a81ab 0%, #aac0ab 100%);
    --inputColor: rgba(40, 52, 62, 0.07);
    --photo: #4CB256;
    --video: #4A4EB7;
    --location: #EF5757;
  --shedule: #E1AE4A;
  }
  .App{
    overflow: hidden;
    color: var(--black);
    background: #f3f3fe;
    padding: 1rem 1rem;
  }
  .blur{
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background: #a6ddf0;
    filter: blur(72px);
  }
  .button{
    display: flex;
    align-items:center ;
    justify-content: center;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background: var(--buttonBg);
    transition: all 100ms ease-out;
  }
  .button:hover{
    cursor: pointer;
    color:#76a08c;
    background: transparent;
    border: 2px solid #76a08c;
  }
  ::-webkit-scrollbar{
    display: none;
  }
  .button:disabled{
    background: silver;
    pointer-events: none;
  }