.chatBox {
	width: 100%;
}

.svg {
	margin-right: 11px;
}

.sender {
	position: relative;
}

.input-group .far {
	transform: rotate(56deg);
	font-weight: 400;
}

.send {
	position: absolute;
	top: 7px;
	right: 17px;
	background: transparent;
	border: none;
}
.rightSide{
	width: 100%;
}