/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

		* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			font-family: "Poppins", sans-serif;
		}

		body {
			display: flex;
			align-items: center;
			justify-content: center;
			min-height: 100vh;
			background: #6990F2;
		}

		::selection {
			color: #fff;
			background: #6990F2;
		}

		.wrapper {
			width: 430px;
			background: #fff;
			border-radius: 5px;
			padding: 30px;
			box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.05);
		}

		.wrapper header {
			color: #6990F2;
			font-size: 27px;
			font-weight: 600;
			text-align: center;
		}

		.wrapper form {
			height: 167px;
			display: flex;
			cursor: pointer;
			margin: 30px 0;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			border-radius: 5px;
			border: 2px dashed #6990F2;
		}

		form :where(i, p) {
			color: #6990F2;
		}

		form i {
			font-size: 50px;
		}

		form p {
			margin-top: 15px;
			font-size: 16px;
		}

		section .row {
			margin-bottom: 10px;
			background: #E9F0FF;
			list-style: none;
			padding: 15px 20px;
			border-radius: 5px;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		section .row i {
			color: #6990F2;
			font-size: 30px;
		}

		section .details span {
			font-size: 14px;
		}

		.progress-area .row .content {
			width: 100%;
			margin-left: 15px;
		}

		.progress-area .details {
			display: flex;
			align-items: center;
			margin-bottom: 7px;
			justify-content: space-between;
		}

		.progress-area .content .progress-bar {
			height: 6px;
			width: 100%;
			margin-bottom: 4px;
			background: #fff;
			border-radius: 30px;
		}

		.content .progress-bar .progress {
			height: 100%;
			width: 0%;
			background: #6990F2;
			border-radius: inherit;
		}

		.uploaded-area {
			max-height: 232px;
			overflow-y: scroll;
		}

		.uploaded-area.onprogress {
			max-height: 150px;
		}

		.uploaded-area::-webkit-scrollbar {
			width: 0px;
		}

		.uploaded-area .row .content {
			display: flex;
			align-items: center;
		}

		.uploaded-area .row .details {
			display: flex;
			margin-left: 15px;
			flex-direction: column;
		}

		.uploaded-area .row .details .size {
			color: #404040;
			font-size: 11px;
		}

		.uploaded-area i.fa-check {
			font-size: 16px;
		}

		.function,
		.btn {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			margin-top: 10px;
		}

		.function {
			font-family: "JetBrains Mono", monospace;
			font-weight: 700;
		}

		.value {
			color: #6b7ba1;
		}

		.button-29 {
			align-items: center;
			appearance: none;
			background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
			border: 0;
			border-radius: 6px;
			box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
			box-sizing: border-box;
			color: #fff;
			cursor: pointer;
			display: inline-flex;
			font-family: "JetBrains Mono", monospace;
			height: 48px;
			justify-content: center;
			line-height: 1;
			list-style: none;
			overflow: hidden;
			padding-left: 16px;
			padding-right: 16px;
			position: relative;
			text-align: left;
			text-decoration: none;
			transition: box-shadow .15s, transform .15s;
			user-select: none;
			-webkit-user-select: none;
			touch-action: manipulation;
			white-space: nowrap;
			will-change: box-shadow, transform;
			font-size: 18px;
		}

		.button-29:focus {
			box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
		}

		.button-29:hover {
			box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
			transform: translateY(-2px);
		}

		.button-29:active {
			box-shadow: #3c4fe0 0 3px 7px inset;
			transform: translateY(2px);
		} */